SECRET_KEY=change-me-to-a-strong-random-key
DEBUG=0
ALLOWED_HOSTS=foot.baitul.tech,www.foot.baitul.tech
CSRF_TRUSTED_ORIGINS=https://foot.baitul.tech,https://www.foot.baitul.tech
EMAIL_HOST=baitul.tech
EMAIL_PORT=465
EMAIL_HOST_USER=noreply@baitul.tech
EMAIL_HOST_PASSWORD=Admin2020++
